.pagination_row {
  text-align: right;
  margin-bottom: 10px;
}
.water_flow {
  width: 98%;
  margin: 0 auto;
	-moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	column-gap: 1em;
  min-height: 420px;
}
